body {
  background: linear-gradient(180deg, #93BFCF, #6096B4);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #93BFCF;
  box-shadow: 1px 1px 5px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 50px;
  width: 500px;
}

div>h1 {
  font-family: 'Oswald', sans-serif;
  font-size: xx-large;
  text-transform: uppercase;
  color: #EEE9DA;
}

form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

form>p {
  display: flex;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  flex-direction: column;
  color: #EEE9DA;
}

form>p>input {
  flex: 1;
  margin-left: 5px;
  padding: 5px;
  border-style: none;
}

/* Button styles */
button {
  padding: 5px;
  background-color: #6096B4;
  border-radius: 10px;
  color: #EEE9DA;
  cursor: pointer;
  border: none;
  transition: background-color 1s, color 1s;
}

button:hover {
  background-color: #BDCDD6;
  color: black
}

button>a {
  text-decoration: none;
}

button>a:visited {
  color: #EEE9DA;
}

.primary-button {
  padding: 10px;
  width: 100px;
  border-color: #EEE9DA;
}

.small-button {
  margin-top: 50px;
  padding: 10px 10px;
  width: 15%;
  border-color: #EEE9DA;
}
