main {
  display: flex;
  justify-content: center;
}

.form-container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 50px;
  width: 500px;
}

div>h1 {
  font-family: 'Oswald', sans-serif;
  font-size: xx-large;
  text-transform: uppercase;
  color: #EEE9DA;
}

form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

form>p {
  display: flex;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  flex-direction: column;
  color: #EEE9DA;
}

form>p>input {
  flex: 1;
  margin-left: 5px;
  padding: 5px;
  border-style: none;
}

button {
  padding: 10px;
  margin-top: 20px;
  background-color: #93BFCF;
  border-radius: 5px;
  border-style: none;
  color: #EEE9DA;
  font-size: large;
}

button:hover {
  background-color: #BDCDD6;
  color: black
}
