.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  margin-left: 30px
}

.input-search {
  flex: 1;
  margin-left: 5px;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #93BFCF;
  transition: all .5s ease-in-out;
  background-color: #6096B4;
  width: 300px
}

.input-search::placeholder {
  color: #EEE9DA;
}

button {
  padding: 10px;
  background-color: #93BFCF;
  border-radius: 5px;
  border-style: none;
  color: #EEE9DA;
  cursor: pointer;
  transition: background-color 1s, color 1s;
}

button:hover {
  background-color: #BDCDD6;
  color: black
}

.create-button {
  padding: 10px;
  background-color: #93BFCF;
  border-radius: 5px;
}

.material-symbols-outlined {
  position: relative;
  top: 6px;
  margin-right: 5px;
}

iframe {
  justify-self: end;
}
