table {
  border: 2px solid #EEE9DA;
  width: 100%;
  margin: 25px 0;
  font-size: 0.9em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-collapse: collapse;
}

thead {
  background-color: #93BFCF;
}

thead,
tr {
  text-align: left;
}

th,
td {
  padding: 12px 15px;
}

tbody,
tr {
  border-bottom: 1px solid #EEE9DA;
}

tbody tr:nth-of-type(even) {
  background-color: #6096B4;
}

tbody tr.active-row {
  font-weight: bold;
  color: black;
}
