{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tracker</title>
        <link rel="stylesheet" href="{% static "css/accounts.css" %}">
    </head>
    <body>
        <main>
            <div class="container">
                <h1>Login</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="primary-button">Login</button>
                </form>
                <button class="small-button"><a href="{% url 'signup' %}">Signup</a></button>
            </div>
        </main>
    </body>
</html>
