{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static "css/projects.css" %}">
<link rel="stylesheet" href="{% static "css/table.css" %}">
{% endblock %}
{% block content %}
    <main>
        <div class="dashboard-header">
            <h1>My Tasks</h1>
            <div class="search">
                <form method="get">
                    <input type="search" name="query" class="input-search" placeholder="Find a task...">
                    <button>Search</button>
                </form>
            </div>
        </div>
        <div class="dashboard">
            <div>
            {% if task_list|length != 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in task_list.all %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.start_date|date:"M. d, Y, g:i a" }}</td>
                                <td>{{ task.due_date|date:"M. d, Y, g:i a" }}</td>
                                <td>
                                    {% if task.is_completed == True %}Done{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
            </div>
            <iframe src="https://calendar.google.com/calendar/embed?height=500&wkst=1&bgcolor=%23ffffff&ctz=America%2FNew_York&showTitle=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&showNav=0&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23D50000" style="border-width:0" width="500" height="500" frameborder="0" scrolling="no"></iframe>
        </div>
    </main>
{% endblock content %}
