{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static "css/projects.css" %}">
<link rel="stylesheet" href="{% static "css/table.css" %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,300,0,0" />
{% endblock %}
{% block content %}
    <main>
        <div class="dashboard-header">
            <h1>My Projects</h1>
            <div class="search">
                <form method="get">
                    <input type="search" name="query" class="input-search" placeholder="Find a project...">
                    <button>Search</button>
                </form>
            </div>
        </div>
        <div class="dashboard">
            <div>
                <p>
                    <a class="create-button" href="{% url 'create_project' %}">
                        <span class="material-symbols-outlined">add</span>New Project
                    </a>
                </p>
                {% if project_list|length == 0 %}
                    <p>You are not assigned to any projects.</p>
                {% else %}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Number of Tasks</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in project_list.all %}
                                <tr>
                                    <td>
                                        <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                                    </td>
                                    <td>{{ project.tasks.all.count }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
            <iframe src="https://calendar.google.com/calendar/embed?height=500&wkst=1&bgcolor=%23ffffff&ctz=America%2FNew_York&showTitle=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&showNav=0&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23D50000" style="border-width:0" width="500" height="500" frameborder="0" scrolling="no"></iframe>
        </div>
    </main>
{% endblock content %}
